<div class="container bg-color1">
    <div class="d-flex bg-color1 text-white justify-content-center align-items-center m-5 p-3">
        <div class="d-flex flex-column">
            <h1>New Semester</h1>
            <div>
                <%= bootstrap_form_with model: @semester, url: semesters_path, method: :post, local: true do |f| %>
                    <div class="field-dark">
                        <% semester_array = ['Fall','Spring'] %>
                        <%= f.select :semester, semester_array%>
                        <%= f.select :year, (Time.zone.now.year - 5)..(Time.zone.now.year + 10) %>
                    </div>
                    
                    <fieldset class="ml-2">
                        <legend>Sprints:</legend>
                        <%= f.fields_for :sprints do |sprints_form| %>
                            <%= render "sprints_fields", f: sprints_form %>
                        <% end %>
                        <%= link_to_add_fields "Add Sprints", f, :sprints%>
                    </fieldset>

                    <%= f.file_field :student_csv, :accept => 'text/csv'%>
                    <%= f.file_field :client_csv, :accept => 'text/csv'%>
                    <%= f.submit %>
                <% end %>
            </div>
        </div>
    </div>
</div>
