<style>
    .navbar {
        padding: 12px;
    }
</style>
<body>
    <%# overwrite the navbar %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-color1 fixed-top">
      <div class="container-fluid">
        <%= link_to 'Home', semesters_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <% if controller_name == 'controller_name' && action_name == 'action_name' %>
              <% prev_sprint_index = @sprints&.index(@sprint)&.-(1) %>
              <% if prev_sprint_index && prev_sprint_index >= 0 %>
                <li class="nav-item">
                  <%= link_to semester_team_path(@semester, :team => @team, :sprint => @sprints[prev_sprint_index]), class: 'nav-link d-flex align-items-center' do %>
                    <i class="bi bi-chevron-double-left me-1"></i>
                    <span class="text-white">Sprint left</span>
                  <% end %>
                </li>
              <% end %>
              <!-- Add the rest of the chevrons and their functionality here -->
            <% end %>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to edit_user_registration_path, method: :get, class: 'nav-link d-flex align-items-center' do %>
                  <i class="bi bi-person-circle me-1"></i>
                  <span class="text-white"><%= current_user.email %></span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link d-flex align-items-center' do %>
                  <i class="bi bi-box-arrow-right me-1"></i>
                  <span class="text-white">Sign Out</span>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link text-white' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
            <%= image_tag "arrow-up.svg", style: "height:32px"%>
        </button>
        <div class="row">
            <div class="col-3">
                <div>
                    <h1 class="ml-2 mt-2" style="position:fixed;"><%= link_to semester_path(@semester), class: "", style: "position:fixed;" do %><%= image_tag "arrow-left-circle-fill.svg", class:"mr-5 mb-1", style: "height:32px;"%><% end %> <span class="ml-5">Menu</span> </h1>
                    <br>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mt-5" style="position:fixed;">
                        <li class="border-top my-3" style="position:fixed;"></li>
                        <li class="mb-2"><button id="btn-jump-to-tms" class="ml-0 btn btn-t d-inline-flex rounded border-0" style="position:fixed;">Team Member Scores</button></li>
                        <br>
                        <br>
                        <li class="mb-2"><button id="btn-jump-to-cs" class="ml-0 btn btn-t d-inline-flex rounded border-0" style="position:fixed;">Client Scores</button></li>
                        <br>
                        <br>
                        <li class="mb-2"><button id="btn-jump-to-tmr" class="ml-0 btn btn-t d-inline-flex rounded border-0" style="position:fixed;"> Team Member Responses</button></li>
                        <br>
                        <br>
                        <li class="mb-2"><button id="btn-jump-to-sqq" class="ml-0 btn btn-t d-inline-flex rounded border-0" style="position:fixed;">Student Qualitative Questions</button></li>
                        <br>
                        <br>
                        <li class="mb-2"><button id="btn-jump-to-cqq" class="ml-0 btn btn-t d-inline-flex rounded border-0" style="position:fixed;">Client Qualitative Questions</button></li>
                        <br>
                        <br>
                        <li>
                            <div>
                                <%= bootstrap_form_with url: semester_team_path(@semester), method: "get", local: true do |f|%>
                                    <%= f.select :team, @teams %>
                                    <%= f.select :sprint, ["Sprint 1", "Sprint 2", "Sprint 3", "Sprint 4"] %>
                                    <%= f.submit "Submit"%>
                                <% end %>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <% unless @flags.include?("student blank") %>
                    <div>
                        <h1 id="tms">Team Member Scores</h1>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Average Score (including self-scores)</th>
                                        <th>Average Score (NOT including self-scores)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @self_submitted_names.each do |name|%>
                                        <tr>
                                            <th><%=name[0]%></th>
                                            <td class="<%=if name[-2]&.is_a?(String) or name[-2]&. < 4 then "text-white bg-danger" end%>"><%=name[-2]%></td>
                                            <td class="<%=if name.last().is_a?(String) && name.last().to_i < 4 then "text-white bg-danger" end%>"><%=name.last()%></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% end %>

                <br>
                <% if !@flags.include?("client blank") %>
                    <div>
                        <h1 id="cs">Client Scores</h1>
                        <div>
                            <table class="table">
                                <tr>
                                    <th>The team was on time and professional during our meeting</th>
                                    <td class="<%=if @cliSurvey[0][:q2_1] != "Exceeded expectations" && @cliSurvey[0][:q2_1] != "Met expectations" then "text-white bg-danger" end%>"><%=@cliSurvey[0][:q2_1]%></td>
                                </tr>
                                <tr>
                                    <th>The team was prepared for their meeting with me</th>
                                    <td class="<%=if @cliSurvey[0][:q2_2] != "Exceeded expectations" && @cliSurvey[0][:q2_2] != "Met expectations" then "text-white bg-danger" end%>"><%=@cliSurvey[0][:q2_2]%></td>
                                </tr>
                                <tr>
                                    <th>The team is communicating with me clearly</th>
                                    <td class="<%=if @cliSurvey[0][:q2_3] != "Exceeded expectations" && @cliSurvey[0][:q2_3] != "Met expectations" then "text-white bg-danger" end%>"><%=@cliSurvey[0][:q2_3]%></td>
                                </tr>
                                <tr>
                                    <th>The team met the goals we agreed to at our last meeting</th>
                                    <td class="<%=if @cliSurvey[0][:q2_4] != "Exceeded expectations" && @cliSurvey[0][:q2_4] != "Met expectations" then "text-white bg-danger" end%>"><%=@cliSurvey[0][:q2_4]%></td>
                                </tr>
                                <tr>
                                    <th>The team listended to my feedback</th>
                                    <td class="<%=if @cliSurvey[0][:q2_5] != "Exceeded expectations" && @cliSurvey[0][:q2_5] != "Met expectations" then "text-white bg-danger" end%>"><%=@cliSurvey[0][:q2_5]%></td>
                                </tr>
                                <tr>
                                    <th>The team set appropriate goals for the next two weeks</th>
                                    <td class="<%=if @cliSurvey[0][:q2_6] != "Exceeded expectations" && @cliSurvey[0][:q2_6] != "Met expectations" then "text-white bg-danger" end%>"><%=@cliSurvey[0][:q2_6]%></td>
                                </tr>
                                <tr>
                                    <th>Clients average score</th>
                                    <td><%=get_client_score(@semester, @team, @sprint)%></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <% end %>

                <br>
                <% unless @flags.include?("student blank") %>
                    <div id="tmr">
                      <h1>Team Member Responses
                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="<% @studSurvey.each do |s| %>#<%= "#{s[:q1]}Collapse" %> <%end%>" aria-expanded="false" aria-controls="<% @studSurvey.each do |s| %><%= "#{s[:q1]}Collapse" %> <%end%>">Expand All</button>
                      </h1>
                        <div>
                            <% @studSurvey.each do |s| %>
                                <div class="mb-2">
                                    <button class="btn btn-secondary w-100" type="button" data-toggle="collapse" data-target=<%="##{s[:q1]}Collapse"%> aria-expanded="false" aria-controls=<%="#{s[:q1]}Collapse"%>><%="#{s[:q1]}'s Responses"%></button>
                                  <% if (some_condition?(s, :q11_1) || some_condition?(s, :q21_1) || some_condition?(s, :q15_1) || some_condition?(s, :q16_1) || some_condition?(s, :q25_1) || some_condition?(s, :q11_2) || some_condition?(s, :q21_2) || some_condition?(s, :q15_2) || some_condition?(s, :q16_2) || some_condition?(s, :q25_2) || some_condition?(s, :q11_3) || some_condition?(s, :q21_3) || some_condition?(s, :q15_3) || some_condition?(s, :q16_3) || some_condition?(s, :q25_3) || some_condition?(s, :q11_4) || some_condition?(s, :q21_4) || some_condition?(s, :q15_4) || some_condition?(s, :q16_4) || some_condition?(s, :q25_4) || some_condition?(s, :q11_5) || some_condition?(s, :q21_5) || some_condition?(s, :q15_5) || some_condition?(s, :q16_5) || some_condition?(s, :q25_5) || some_condition?(s, :q11_6) || some_condition?(s, :q21_6) || some_condition?(s, :q15_6) || some_condition?(s, :q16_6) || some_condition?(s, :q25_6)) %>
                                <div class="multi-collapse" id=<%="#{s[:q1]}Collapse"%>>
                                  <table class="table">
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th><%= s[:q1] %></th>
                                      <th><%= s[:q10] %></th>
                                      <th><%= s[:q13_2_text] if s[:q13_2_text] %></th>
                                      <th><%= s[:q23_2_text] if s[:q23_2_text] %></th>
                                      <th><%= s[:q24_2_text] if s[:q24_2_text] %></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%
                                      row_titles = [
                                        "Attends group meetings and arrives on time",
                                        "Does high quality work",
                                        "Completes their work on time",
                                        "Does a fair share of the team's work",
                                        "Communicates effectively and respectfully with their teammates",
                                        "Choose one additional category"
                                      ]
                                      columns = [:q11, :q21, :q15, :q16, :q25]
                                    %>
                                    <% row_titles.each_with_index do |row_title, row_idx| %>
                                      <tr>
                                        <th><%= row_title %></th>
                                        <% columns.each do |col| %>
                                          <% if s["#{col}_#{row_idx + 1}".to_sym] %>
                                            <%= render_cell(s["#{col}_#{row_idx + 1}".to_sym], row_idx == 5 ? s["#{col}_#{row_idx + 1}_text".to_sym] : nil) %>
                                          <% end %>
                                        <% end %>
                                      </tr>
                                    <% end %>
                                    </tbody>
                                  </table>

                                </div>
                                    <% else %>
                                    <div class="collapse multi-collapse" id=<%="#{s[:q1]}Collapse"%>>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th><%=s[:q1]%></th>
                                                    <th><%=s[:q10]%></th>
                                                    <%if s[:q13_2_text]%>
                                                        <th><%=s[:q13_2_text]%></th>
                                                    <%end%>
                                                    <%if s[:q23_2_text]%>
                                                        <th><%=s[:q23_2_text]%></th>
                                                    <%end%>
                                                    <%if s[:q24_2_text]%>
                                                        <th><%=s[:q24_2_text]%></th>
                                                    <%end%>
                                                </tr>
                                            </thead>
                                          <tbody>
                                          <% ["q11", "q21", "q15", "q16", "q25"].each do |prefix| %>
                                            <tr>
                                              <th>Attends group meetings and arrives on time</th>
                                              <%= table_cell(s, "#{prefix}_1") %>
                                            </tr>
                                            <tr>
                                              <th>Does high quality work</th>
                                              <%= table_cell(s, "#{prefix}_2") %>
                                            </tr>
                                            <tr>
                                              <th>Completes their work on time</th>
                                              <%= table_cell(s, "#{prefix}_3") %>
                                            </tr>
                                            <tr>
                                              <th>Does a fair share of the team's work</th>
                                              <%= table_cell(s, "#{prefix}_4") %>
                                            </tr>
                                            <tr>
                                              <th>Communicates effectively and respectfully with their teammates</th>
                                              <%= table_cell(s, "#{prefix}_5") %>
                                            </tr>
                                            <tr>
                                              <th>Choose one additional category</th>
                                              <td class="<%=if s["#{prefix}_6"] != "Always" && s["#{prefix}_6"] != "Most of the time" then "text-white bg-danger" end%>">
                                                <%=s["#{prefix}_6_text"]%> - <%=s["#{prefix}_6"]%>
                                              </td>
                                            </tr>
                                          <% end %>
                                          </tbody>
                                        </table>
                                    </div>
                                <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <br>
                <div>
                  <h1 id="sqq">Student Qualitative Questions</h1>
                  <div>
                    <%= render_table(1, :q4) %>
                    <%= render_table(2, :q5) %>
                    <%= render_table(3, :q6) %>
                    <%= render_table(4, :q7) %>
                    <%= render_table(5, :q8) %>
                    <%= render_table(6, :q18) %>
                    <%= render_table(7, :q19) %>
                    <%= render_table(8, :q20) %>
                  </div>
                </div>
            <% end %>
                <br>
                <% unless @flags.include?("client blank") %>
                  <div>
                    <h1 id="cqq">Client Qualitative Questions</h1>
                    <div>
                      <%= render_client_table(9, :q4) %>
                      <%= render_client_table(10, :q5) %>
                      <%= render_client_table(11, :q6) %>
                      <%= render_client_table(12, :q7) %>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
    <script src="scroll_navigation.js"></script>
</body>
